.flex-container{
  display: flex;
  justify-content: center;
}
.flex-container > div{
  margin: 10px;
  text-align: center;
  /*line-height: 75px;*/
  font-size: 30px;
}
.section-header{
  margin-top: 90px;
  color: #316999;
}

.about{
  width: 100%;
  font-size: 24px !important;
  word-wrap: break-word;
  color: rgba(51, 51, 51, 0.61);
  border: none;
  background-color: transparent;
}
@media (min-width:641px){
  .about{
    width: 50%;
  }
}
.more{
  font-size: 20px !important;
  word-wrap: break-word;
  color: rgba(51, 51, 51, 0.61);
  border: none;
  background-color: transparent;
}
.material-icons{
  font-size: 68px;
}
h5{
  font-size: medium;
  font-weight: bolder;
}
hr{
  width: 20%;
  border-top: 1px solid #316999;
}
.more-section{
  width: 100%;
}
.well{
  box-shadow: inset 0 1px 1px rgba(123, 45, 45, 0) !important;
}
.skills{
  color: #316999;
  width: 100%;
}
i{
  color: #316999;
}
