
<div class="flex-container section-header">
  <h1>About Me</h1>
</div>
<div class="flex-container">
  <div class="well about">
      <p>
        I am currently a Software Developer at AXA-Equitable.
        I graduated from the State University of New York at Oswego with a Bachelors in Computer Science.
        I am also pursuing my masters degree in Computer Science from Georgia Tech.
        I enjoy developing software both for fun and production.
        Overall, I am just an everyday human who is constantly hungry for learning about new technologies,
        and is passionate about building meaningful software.
        I build software for fun and I take fun very seriously!!
      </p>
    </div>
</div>
<div class="row text-center skills">
  <h1>Skills</h1>
</div>
<div class="row more-section">
  <div class="well more col-sm-3 text-center">
    <i class="material-icons">
      important_devices
    </i>
    <hr>
    <h5>UI/UX DESIGNER</h5>
    <p>
      Due to my great experience taking courses in
      Human-Computer Interaction.
      I am a self taught UX designer and with a deep understanding of UI/UX principles
    </p>
  </div>
  <div class="well more col-sm-3 text-center">
    <i class="material-icons">
      code
    </i>
    <hr>
    <h5>SOFTWARE ENGINEER</h5>
    <p>
      I am an open minded software engineer who is always learning and adapting to the fast changing world.
      I am fascinated with the process and the core fundamentals of Software engineering.
    </p>
  </div>
  <div class="well more col-sm-3 text-center">
    <i class="material-icons">
      devices_other
    </i>
    <hr>
    <h5>FRONT-END DEVELOPER</h5>
    <p>
      Front-end development allows me to incorporate my passion for both art and coding in one space.
      The freedom to be creative is what enhances my interest in front-end development.
    </p>
  </div>
  <div class="well more col-sm-3 text-center">
    <i class="material-icons">
      directions_bike
    </i>
    <hr>
    <h5>HOBBIES</h5>
    <p>
      I am a multi-sport athlete who has competed in several sports at a high level over the years
      (Soccer, Cricket, Rugby and Basketball). I played NCAA soccer and I enjoyed every bit of it.
      I also enjoy freelance painting, freelance web development and traveling.
    </p>
  </div>
</div>
