<div class="about-me-container">
  <div class="flex-container section-header">
    <h1 id="about-me-header">About Me</h1>
  </div>
  <div class="flex-container">
    <div class="well about">
        <p>
          Paul Kwoyelo is a full-stack software engineer who works with companies and individuals to design and develop software based solutions to help them meet their needs and goals.
          <br>
          <br>
          Because technology has become an everyday part of our lives, Paul believes that he can use his creativity and technical skills to positively impact the lives of many people around the world.
          <br>
          <br>
          Paul is an experienced full-stack developer with over 6 years of working with cutting edge technologies. Along with a few friends Paul participated on google’s product hunt in 2017 winning honorable mention placing 6th out of 15k+ contestants.
          <br>
          <br>
          Paul holds a B.A in Computer Science from the State University of New York at Oswego.
          <br>
          <br>
          Beside the love for software engineering, Paul also enjoys sports specifically soccer and has played in NCAA and in the semi-pro league. Paul also enjoys hiking and traveling to new places and experiencing the world every chance he gets.
        </p>
        <div class="social-links" id="projects">
          <div>Visit my github
            <a href="https://github.com/PK4ever"><i class="fa fa-github"></i></a>
             or send me an email at <span class="email-contact">paulkwoyelo@gmail.com</span>
          </div>
        </div>
    </div>
  </div>
</div>