.projects-container{
  width: 100%;
  margin-top: 60px;

}
hr{
  width: 80%;
  border-top: 1px solid #316999;
}

.panel {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s;
  width: 80%;
  color: black;
  margin-left: 10%;
  margin-top: 10%;
}

.panel:hover {
  width: 81%;
  height: 91%;
  box-shadow: 0 6px 15px 4px rgba(0,0,0,0.2);
}
.panel-body{
  height: 90px;
}
