.resume-container{
  width: 60%;
  margin: auto;
  height: 90%;
}

.flex-container{
  display: flex;
  justify-content: center;
}

#resume-header{
  z-index: 2;
  color: #29b6f6;
  font-size: 50px;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: bolder;
}