    <!-- <main [@slideTransitionAnimation]="o.isActivated ? o.activatedRoute: ''"> -->
      <!-- <router-outlet #o="outlet"></router-outlet> -->


<main>  
  <div class = "parallax"> 
    <section id="home-section">
      <app-home></app-home>
    </section>
  </div>
  
  <!-- <div class = "parallax">  -->
    <!-- <section id="about-me-section">
      <div class="skew"></div>
      <app-about-me></app-about-me>
   </section> -->
  <!-- </div> -->
  <!-- <div class = "parallax">
    <section id="resume-section">
      <app-projects></app-projects>
    </section>
    <div class = "parallax"> </div>
  </div> -->
</main>
<!-- <footer> -->
  <!-- <p>Author: Paul Kwoyelo<br> -->
  <!-- <a href="paulkwoyelo@gmail.com">paulkwoyelo@gmail.com</a></p> -->
<!-- </footer> -->
