
.side_nav{
  width: 100%;
  height: 100%;
  /*margin: 2px;*/
  background-color: black;
}
.material-icons {
  font-size: 36px;
  /*margin-top: 25px;*/
  outline: none;
}
.nav_list{
  width: 100%;
  text-align: center;
  /*line-height: 100px;*/
  position: absolute;
  top: 30%;
  list-style-type:none;
}
.nav-list-item{
  height: 120px;
  width: 80px;
}
.nav-list-item > div{
  outline: none;
}
.nav-list-item > div:focus{
  color: gray;
}

.nav-list-item:hover{
  font-size: 16px;
  /*color: gray;*/
  cursor: pointer;
}
.nav-list-item:hover .material-icons{
  font-size: 38px;
}

mat-sidenav{
  background-color: black;
  width: 10%;
  height: 100%;
  /*margin-top: 300px;*/
  background-image: url(../assets/vertical_cloth.png);
  background-repeat:repeat;
  color: #316999;
}
mat-sidenav-content{
  background-color:#080808;
}




