#home-section {
  /* height: 90%; */
  height: 90vh;
}

/* #about-me-section {
  width: 100%;
  height: 950px;
} */

.skew {
  height: 90%;
  width: 100%;
  background: linear-gradient(45deg, #101010,#2c3e50);
  transform: skewy(5deg);
}

/* #resume-section {
  height: 1000px;
} */

.parallax {
  background-image: url("/assets/background-img.jpeg");
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
/* footer {
  font-family: "Lucida Console", Monaco, monospace;
  background: linear-gradient(45deg, #101010,#2c3e50);
  text-align: center;
  padding: 5px;
  color: #BA68C8;
  z-index: 5;
  height: 80px;
} */