
<!--<mat-drawer-container class="page_drawer_container">-->
  <!--<mat-drawer mode="side" opened>-->
    <!--<i routerLink="" class="material-icons">home</i>-->
    <!--<i routerLink="about" class="material-icons">face</i>-->
  <!--</mat-drawer>-->
  <!--<mat-drawer-content>-->
    <!--<main [@slideTransitionAnimation]="o.isActivated ? o.activatedRoute: ''">-->
      <!--<router-outlet #o="outlet"></router-outlet>-->
    <!--</main>-->
  <!--</mat-drawer-content>-->
<!--</mat-drawer-container>-->

<mat-sidenav-container class="side_nav">
  <mat-sidenav opened mode="side">
    <ul class="nav_list">
      <li class="nav-list-item">
        <div routerLink="" id="home">
        <i class="material-icons">home</i>
          <br>
          Home
        </div>
      </li>
      <li class="nav-list-item">
        <div routerLink="about">
        <i class="material-icons">perm_identity</i>
        <br>
        About Me
        </div>
      </li>
      <li class="nav-list-item">
        <div routerLink="projects">
        <i class="material-icons">assignment</i>
        <br>
        Projects
        </div>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <main [@slideTransitionAnimation]="o.isActivated ? o.activatedRoute: ''">
      <router-outlet #o="outlet"></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>



