@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { 
  /* height: 100%; */
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
 }
body { 
  margin: 0; 
  font-family: "Times New Roman", Times, serif;
  scroll-behavior: smooth;
  background: linear-gradient(45deg, #101010,#2c3e50);
}

/* .flex-container > div{
  -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
  /* transition: width 2s; */
/* } */
