@import '~bootstrap/dist/css/bootstrap.min.css';
/* You can add global styles to this file, and also import other style files */

router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}
router-outlet ~app-home{
  background-color:#080808;
  background-image: url(assets/profile_pic.png);
  background-position: right;
  background-position-x: 85%;
  background-repeat: no-repeat;
  background-size: contain;
}
router-outlet ~app-about-me{
  background-color: #ffffff;
  color: black;
  min-height: 100%;
  height: fit-content;
}
router-outlet ~app-projects{
  background-color: white;
  min-height: 100%;
  height: fit-content;
  color: black;
}
html, body { height: 100%; }
body { margin: 0; font-family: "Times New Roman", Times, serif;}

.flex-container > div{
  -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
  transition: width 2s;
}
