/* You can add global styles to this file, and also import other style files */
router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}
router-outlet ~app-home{
  background-color: gray;
}
router-outlet ~app-about-me{
  background-color: aqua;
}
router-outlet ~app-projects{
  background-color: burlywood;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
